<div class="media">
  <div class="media__image">
    <!-- para darle el sombreado alrededor -->
    <svg class="icon icon--primary">
      <!-- the second class is to give color primary, secondary 
          or accent al icon -->
      <use href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & manage updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      consequuntur vitae reiciendis veniam nulla dolorem nemo deleniti? Ex,
      veniam modi.
    </p>
  </div>
</div>
