<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parte 3- Creating Rickyfy Web Site</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/7c53c27609.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="nav collapsible">
        <a class="nav__brand" href="/"
          ><img src="images/logo.svg" alt="Moshify logo"
        /></a>
        <svg class="icon icon--white nav__toggler">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li class="nav__item"><a href="#">Hosting</a></li>
          <li class="nav__item"><a href="#">VPS</a></li>
          <li class="nav__item"><a href="#">Domain</a></li>
          <li class="nav__item"><a href="#">Pricing</a></li>
        </ul>
      </nav>
    </header>
    <section class="block block--dark block--skewed-right hero">
      <div class="container grid grid--1x2">
        <header class="block__header hero__content">
          <h1 class="block__heading">Cloud Content for Pros</h1>
          <p class="hero__tagline">
            Deploy your Website in less than 60 seconds.
          </p>
          <a class="btn btn--accent btn--stretched" href="#">Iniciar</a>
        </header>
        <pinture>
          <source
            srcset="images/banner.webp 1x, images/banner@2x.webp"
            type="image/webp"
          />
          <source
            srcset="images/banner.png 1x, images/banner@2x.png"
            type="image/png"
          />
          <img class="hero__image" src="images/banner.png" alt="" />
        </pinture>
      </div>
    </section>
    <section class="block container block-domain">
      <header class="block__header">
        <h2>Iniciando a $9 por mes</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Necessitatibus omnis eligendi
        </p>
      </header>
      <div class="input-group">
        <input
          type="text"
          class="input"
          placeholder="Ingrese nombre de dominio..."
        />
        <button class="btn btn--accent">
          <svg class="icon icon--white">
            <use xlink:href="images/sprite.svg#search"></use>
          </svg>
          <span>Search</span>
        </button>
      </div>
      <ul class="list block-domain__prices">
        <li><span class="badge badge--secondary">.com $9</span></li>
        <li>.sg $10</li>
        <li>.space $11</li>
        <li>.info $14</li>
        <li>.net $10</li>
        <li>.xyz $10</li>
      </ul>
    </section>
    <section class="block container block-plans">
      <div class="grid grid--1x3">
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--primary badge--small">10%Off</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--buynow">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan plan--popular">
          <div class="card card--primary">
            <header class="card__header">
              <h3 class="plan__name">Business</h3>
              <span class="plan__price">$24</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--secondary badge--small">20%Off</span>
              <span class="plan__description">Optimal Cloud Experiencie</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
                <li class="list__item">2 CPU Cores</li>
              </ul>
              <button class="btn btn--buynow">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Business Plus</h3>
              <span class="plan__price">$54</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--primary badge--small">10%Off</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
                <li class="list__item">2 CPU Cores</li>
              </ul>
              <button class="btn btn--buynow">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="js/main.js"></script>
  </body>
</html>
